In [2]:
import h5py
import numpy as np
from collections import defaultdict
import pandas as pd 

from plotting_tools import *

In [147]:
experiment_series = "20250529"
df = pd.read_csv(f"../../preprocessing/preprocessed_data/{experiment_series}/1_output_v4_travel_times.csv")

In [148]:
df.columns = df.columns.str.strip()
df.iloc[:,0] = df.iloc[:,0].str.strip()

In [149]:
col_pos = round(len(df.columns)/2)-1
col1 = df.columns[col_pos][:6]
row1_index = df.columns[col_pos][6:]
row1 = df.columns.tolist()[col_pos+1:]
df = df.iloc[:,:col_pos+1]
df.rename(columns={df.columns[col_pos]: col1}, inplace=True)

In [155]:
df = pd.concat([df, pd.DataFrame([row1_index]+row1, index=df.columns[:]).T])

In [156]:
df.columns = [manhole_names[x] if x in manhole_names.keys() else x for x in df.columns.values.tolist()]
df.iloc[:,0] = [manhole_names[x] if x in manhole_names.keys() else x for x in df.iloc[:,0].values]
df = df.set_index("")

In [158]:
df = df.loc[df.index.isin(manhole_names.values()), df.columns.isin(manhole_names.values())]

In [169]:
df.reindex(index=list(manhole_names.values()),columns=list(manhole_names.values()))/(60*60)

,N_Ua,N_Ub,N_Uc,C_U,S_Ua,S_Ub,S_M1,S_M2,S_M3,S_M4,E_U,E_M,N_D,SCE_D1,SCE_D2,Overall
,,,,,,,,,,,,,,,,
N_Ua,0.0,2.753056,3.813611,5.308333,7.217222,7.401667,6.966667,6.082222,5.844167,5.846111,4.856389,4.26,1.971111,3.495833,2.440556,2.479167
N_Ub,2.753056,0.0,6.100833,5.876944,6.447778,6.632222,5.527778,4.679167,4.441389,4.369444,5.425,4.828611,2.539722,4.064444,3.009167,3.047778
N_Uc,3.813611,6.100833,0.0,4.745,4.271667,4.456111,4.021111,3.136667,2.898611,2.900556,4.293056,3.696944,5.319167,3.205556,5.788333,5.827222
C_U,5.308333,5.876944,4.745,0.0,3.923056,4.1075,3.002778,2.154444,1.916389,1.844444,2.9,2.303889,3.337222,1.8125,2.867778,3.053889
S_Ua,7.217222,6.447778,4.271667,3.923056,0.0,1.81,1.375278,2.223611,2.076667,2.078611,3.471111,2.874722,3.908056,2.383611,3.438889,3.625
S_Ub,7.401667,6.632222,4.456111,4.1075,1.81,0.0,0.467778,1.316389,1.554444,1.626111,3.018889,2.4225,4.0925,2.568056,2.986389,3.1725
S_M1,6.966667,5.527778,4.021111,3.002778,1.375278,0.467778,0.0,0.848611,1.086389,1.158333,2.550833,1.954722,2.988056,1.463333,2.518611,2.704722
S_M2,6.082222,4.679167,3.136667,2.154444,2.223611,1.316389,0.848611,0.0,0.238056,0.309722,1.7025,1.106111,2.139444,0.615,1.67,1.856111
S_M3,5.844167,4.441389,2.898611,1.916389,2.076667,1.554444,1.086389,0.238056,0.0,0.071944,1.464444,0.868056,1.901667,0.376944,1.432222,1.618333
S_M4,5.846111,4.369444,2.900556,1.844444,2.078611,1.626111,1.158333,0.309722,0.071944,0.0,1.3925,0.796389,1.829722,0.305,1.360278,1.546389
E_U,4.856389,5.425,4.293056,2.9,3.471111,3.018889,2.550833,1.7025,1.464444,1.3925,0.0,0.596389,2.885278,1.360556,2.415833,2.601944
E_M,4.26,4.828611,3.696944,2.303889,2.874722,2.4225,1.954722,1.106111,0.868056,0.796389,0.596389,0.0,2.288889,0.764444,1.819444,2.005556
N_D,1.971111,2.539722,5.319167,3.337222,3.908056,3.455833,2.988056,2.139444,1.901667,1.829722,2.885278,2.288889,0.0,1.524722,0.469444,0.508056
SCE_D1,3.495833,4.064444,3.205556,1.8125,2.383611,2.568056,1.463333,0.615,0.376944,0.305,1.360556,0.764444,1.524722,0.0,1.055278,1.241389
SCE_D2,2.440556,3.009167,5.788333,2.867778,3.438889,3.623056,2.518611,1.67,1.432222,1.360278,2.415833,1.819444,0.469444,1.055278,0.0,0.186111
Overall,2.479167,3.047778,5.827222,3.053889,3.625,3.809167,2.704722,1.856111,1.618333,1.546389,2.601944,2.005556,0.508056,1.241389,0.186111,0.0